@import url("default.css");
@import url("../../images");
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
/* 헤더 */

body{ background-color: #eeeeee; width:1686px; height: 969px; margin:0 auto;}
#salSection {position: relative; top: 249px;} 
.leftContainer { float: left; width: 977px; height: 788px;}
.leftContainer h1 { color : #565656; font-size: 23px; top: 249px; padding-bottom: 18px;} /* 위치 안맞을 경우 20씩 올리기 */
.leftContainer p {color : #555555; font-size: 15px; top: 289px; bottom: 16px;}
.leftContainer span {color : #e26c6c; font-size: 15px; }
.text1 {position: absolute; float: right; background-color: white; width: 977px; height: 38px; top: 91px; border-radius: 10px;
    text-align: right 22px; font-size: 15px;} /* 위치 안맞을 경우 20씩 올리기 */
.text2 {position: absolute; float: left; background-color: #51616e; width: 466px; height: 38px;  
    border-radius: 10px; top: 91px; }/* 위치 안맞을 경우 20씩 올리기 */
.text2 ul li { float: left; text-align: center; color: white; font-size: 15px; list-style-type: disc; margin-left: 35px;}
/*옵션 값에 대한 설정*/
.text2 ul li select option {font-size: 11px;}
.text2 ul li { color: white; vertical-align: middle; }
.text2 select { border: none; background: transparent; }
.text3 { position: absolute; background-color: white; width: 977px; height: 428px; top: 144px; border-radius: 20px; box-shadow: 0px 6px 5px #d8d8d8;}/* 위치 안맞을 경우 20씩 올리기 */
.rightContainer { position: relative; float: right; width: 675px; height: 667px; background-color: white; border-radius: 0 20px 20px 20px; top: 119px;} 
.salLoad { height: 48px; background-color: #a2abb2; border-radius: 20px 20px 0 0; color: white; font-size: 13px;} 
.salLoad p { float : left; padding-left: 7px;}
/* 합계 란 */
.result {position: relative;}
.result1 {position : absolute; top: 538px;}
.result2 {position : absolute; top: 646px; }
.gray {float: left; background-color: #a6a6a6; width: 475px; height: 90px; border-radius: 20px; box-shadow: 0px 6px 5px #d8d8d8; }
.blue { float: right;background-color: #61c7cc; width: 475px; height: 90px; border-radius: 20px; margin-left: 27px;box-shadow: 0px 6px 5px #d8d8d8;}
.pink { float: left; background-color: #ecacac; width: 475px; height: 90px; border-radius: 20px; box-shadow: 0px 6px 5px #d8d8d8;}
.green {float: right; background-color: #52b9a8; width: 475px; height: 90px; border-radius: 20px; margin-left: 27px; box-shadow: 0px 6px 5px #d8d8d8;}
/* 소득 및 사대보험 조회 */
.tap01{position:absolute; background-color: white; width: 205px; height: 50px; top: -50px; border-radius: 20px 20px 0 0; }
.tap02{position:absolute; background-color: #a2abb2; width: 205px; height: 50px; top: -50px; left: 206px; border-radius: 20px 20px 0 0;}
.tap01 h6 {text-align: center; font-size: 15px; color: #555555;} /* 가운데 정렬 엌케함 ㅠ */
.tap02 h6 {text-align: center; font-size: 15px; color: white; }

/* input 속성*/ /* 이거 border에 밑줄 주는거 아니고 after 만들어야 하나 */
input::placeholder { font-size: 15px; color: #b2b7bb;}
.search { background-color: transparent; width: 18px; height: 20px; line-height: 50%; top: 15px;}
input {border: none;}
input.inputsearch { width: 270px; height: 30px; margin-left: 25px; border-bottom: solid #979fa6;}
.searchbox { height: 47px; margin-top: 15px; }
fieldset { width: 291px; border: 1px solid #62c7ce; margin-top : 35px; margin-left: 14px; border-radius: 10px;}
fieldset ul li { position: relative;}
legend { width: 131px; height: 25px; left: 14px; background-color: #62c7ce; border-radius : 30px; margin-left: 14px; font-size: 15px; color: white;}
ul li label { float: left; margin-left: 20px; right: 10px;}
ul input[type=text] { float: right;  width: 144px; border-radius: 0px; margin-bottom: 19px; margin-right: 14px;}
hr { position: absolute; width: 255px; top: 36px; left: 20px;}
.rightContainer input { text-align: right;}
.left {float: left; font-size: 19px; color: white;}
.right {float: right; font-size: 41px; color: white; font-weight: bold; }
.right1 { float: right; font-size: 21px; color: white;}



