@import url("../../images");

* {margin: 0px; padding: 0px;}
    body {padding: 0px; margin: 0px; font-family: 'Noto Sans KR'; background-color: #eeeeee; position: relative;}
    header{font-family: 'Nanum Gothic'; font-weight: 500;}
    p { font-size: 16px; color: #555555;}
    a { text-decoration: none;}
    ul li {list-style-type: none;} 
    /* 헤더위치 */
    #headertop_inner, .menu_inner, #scheduleOption{ width:1686px; margin:0 auto; }
    #headertop_inner { position: relative; }
    .headertop { background: #213745; height: 117px; font-weight: 600; text-align: center; vertical-align: middle;}
    /*사용자 아이콘*/
    .headertop h1 { position: absolute; left: 50%; transform:translateX(-50%)}
    /*왼쪽에서 중앙정렬하면 아이콘이 밀리기때문에 아이콘에서 50% 앞으로 밀어줘야함*/
    .headertop h1 img { width: 120px; height: auto;}
    /* 서브메뉴숨기기 */
    .menu {float:left; line-height: 50%; transform:translateY(-7%); padding: 28px 38px; font-size: 20px; color: white ; font-weight: normal;} 
    a[class*="answer"] { padding: 28px 38px; font-size: 20px; color: white ; font-weight: normal; }
    /* 검색창 div */
    .searchdiv { 
        position: absolute; 
        float: left; 
        width: 371px; height: 51px;
        /* margin: 20px 0 38px 0px; */
        top: 35px;
        border-radius: 58px; 
        font-size: 18px; color: black; 
        background-color: white;
        text-align: left;
    }
    .searchdiv img { width: 18px; height: 20px;}
    .searchimg { 
        position: absolute;  top: 13px;
        background: url('search.png'); background-repeat: no-repeat;
        width: 18px; height: 20px;
        color: transparent;
        /*../assol/images/search.png*/
    }
    .searchdiv:focus { border-style: none;}
    /* 검색창 */ 
    input, button { border-style: none; }
    input.search { background-color: transparent; border: none; 
        width: 300px; height: 50px; font-size: 17px; 
        margin-left: 21px; line-height: 50%; border-bottom: 1 solid #41505c; margin-left: 21px;;
    }
    input::placeholder { font-size: 17px; color: #b2b7bb;}
    .search::after { content: ""; position: absolute; width: 272px; height: 1px; color: white;} 
    .search:focus {outline: none;}
    .userinfo { 
        float: right; position: relative; 
        color: #b2b7bb; font-size: 20px; font-weight: normal; text-align: center;
        top : 30px; 
    }
    .userinfo ul li {float: left; font-size: 20px; padding: 0 20px;}
    .userinfo ul li a {color: #fffffd; }
    #scheduleOption { position: relative;}
    .schedule_text { position: absolute; top: 57px;} 
    .schedule_text h1 { padding-bottom: 18px;} 
    #scheduleOption h1, #scheduleOption p { color: #555555; }
    /*근무표보기 / 근무표설정 div 위치*/
    .schedule { position: absolute; left: 317px; top: 234px;}
    /* 근무표 보기 */
    .scheduleView { 
        width: 480px; height: 422px; 
        box-shadow: 0px 6px 5px #d8d8d8; border-radius: 30px;
    }
    .scheduleView:focus, .scheduleOption:focus{ outline: none;}
    /* 근무표 설정 */
    .scheduleOption { 
        width: 480px; height: 422px; margin-left: 97px; 
        box-shadow: 0px 6px 5px #d8d8d8;  border-radius: 30px;
    }
    .photo { border-radius: 50px; box-shadow: 1px 4px 4px #2b3942; }
    .menu_inner { position: relative; height: 76px;}
    .menu_inner > a { padding-left: 0px;} 
    .menu_inner > ul > li {float: left; line-height: 70px; position:relative;} 
    .menu_inner > ul li:last-child a {padding-right:0;}
    /* 헤더 메뉴 */
    .headermenu { position: relative; background-color: #344755; 
        height: 76px; vertical-align: middle;  }
    /*서브메뉴*/
    .gnb li > ul {background:rgb(83, 105, 121, 0.99); left: -200px; width: 200px; text-align: center;} 
    /* .gnb + li ul li{margin-left: 210px; } */
    .submenu {
        display:none;
        position:absolute;
        top : 76px; 
        width: 1920px; height: 393px;
        color: white;
        z-index: 99;
    }
    .submenu li a { color: white; height: 22px;} 
    .scheduleOption::before { position: absolute; content: ""; display: block; background: url('/images/bar.png'); 
        opacity: 0.2; width: 12px; height: 475px; left: 524px; top: -28px;}