@import url("default.css");
@import url("../../images");
body {background-color: #eeeeee; width:1686px; height: 969px; margin:0 auto;}
/* header{font-family: 'Nanum Gothic'; font-weight: 500;} */ /* 주석 풀면 글씨체 까칠 */
/* schedule 기준 앞에 schedule 붙여줄 것*/
.schedule { position: relative; top: 253px; }
.title h1 { font-size: 24px; color: #555555; padding-bottom: 12px;}
.title p { font-size: 19px; color: #555555; padding-bottom: 27px;}
.schedule_option::before { position: absolute; content: ""; display: block; background: url('/images/bar.png'); 
    opacity: 0.2; width: 12px; height: 475px; left: 524px; top: -28px;}



/*근무표 보기 / 설정 위치*/
.schedule_img { position: absolute; left: 317px; top: 122px;}
/* 근무표 보기 */

.scheduleView { width: 480px; height: 422px; box-shadow: 0px 6px 5px #d8d8d8; border-radius: 30px;}
.scheduleView:focus, .schedule_option:focus{ outline: none;}
/* 근무표 설정 */
.schedule_option { width: 480px; height: 422px; margin-left: 97px; box-shadow: 0px 6px 5px #d8d8d8;  border-radius: 30px;}

/* 팝업 */
.modal { display: none; width: 506px ; height: 381px; margin: 0 auto; top: 391px; left: 707px; position: absolute; top: 390pxpx; left: 707px; z-index: 30;}
.modal_top { background: #7d7d7d; color: white; font-size: 18px; height: 45px; line-height: 45px; border-radius: 15px 15px 0 0;}
.modal_top div:first-child{ float: left; position: absolute; left: 31px;}
.modal_top div:last-child{ float: right; position: absolute; right: 30px ;}
.modal_top button { width: 19px; height: 19px; line-height: 19px; background: url(../../images/esc.png) no-repeat; }
.modal_bottom {width: 506px; height: 336px; background: white; margin: 0 auto; text-align: center; border-radius: 0 0 15px 15px; box-shadow: 0px 3px 13px #6f6f6f;}
.modal_bottom img { position: relative; padding-top: 53px;}
.modal_bottom p { padding-top: 53px;}
.modal_bottom button { margin-top: 10px; background: #7d7d7d; width: 131px; height: 30px; line-height: 30px; color: white; border-radius: 15px;}
.modal_layer {position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); z-index: -1;}

