@import url("default.css");
@import url("../../images");
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

/*공통 body*/
body{ background-color: #eeeeee; width:1686px; height: 969px; margin:0 auto;}
.workTeam { position: relative; top: 253px;}
.title h1 { font-size: 24px; color: #555555; padding-bottom: 12px;}
.title p { font-size: 19px; color: #555555; padding-bottom: 27px;}

/* 베이스 하얀 바탕*/
.emTable { background: white; width: 1689px; height: 597px; top: 62px; border-radius: 20px; box-shadow: 0px 6px 5px #d8d8d8;}

.leftDiv { position: relative; float: left; width: 1179px; height: 597px;}

.left_inner { position: absolute; top: 32px; left: 25px;}
.option { float: left;} /* 사원근무설정 옆에 버튼 붙이기*/
.option p {font-size: 19px; color: #797979;}
/* 추가, 삭제, 저장 버튼 */
.buttonset { float: left; margin-left: 11px; margin-top: 3px;}
.buttonset button { background-color: #bdbdbd; width: 68px; height: 22px; border-radius: 50px; color: white; font-size: 16px; line-height: 50%; margin-right: 6px; cursor:pointer;}
.table_inner { 
    position : absolute; left: 25px; top: 73px; width: 1131px; height: 454px;
    border-bottom: 2px solid #959595;;
}
.table {width: 1129px; height: 453px; border: 1px solid #d3d3d3; border-bottom: none;}
/* position : absolute; left: 25px; top: 73px; */
.rightDiv { position: relative; float: right; margin: 0 auto; width: 509px; height: 597px; margin: 0 auto; }
.right_inner{ position : absolute; width: 454px; height: 453px; top: 74px; 
    border-bottom: 2px solid #959595;}
.NUM { 
    position: absolute; z-index: 10; border-radius: 15px;  
    background-color: #f0a5a5; color: #f2f2f2; font-size: 16px;
    width: 218px; height: 31px; 
}
.B {background: #a4a4a4; left: 236px;} /* 공휴일 / 사유 */
.NUM div {float: left; width: 109px; height: 30px; line-height: 30px;
    margin: 0 auto; text-align: center;
}  /* 가로 메뉴 적용*/
.NUM div::after { 
    content: ""; position: absolute; background:#f2f2f2;
    border-radius: 50px;
    width: 2px; height: 25px; left: 108px; top: 3px;
}

.content {position: absolute; top: 33px;
    width: 216px; height: 404px; border: 1px solid #d3d3d3; border-top: none;
    overflow-y: scroll;
}
.c01 { left: 236px;}

/* 스크롤 */
.content::-webkit-scrollbar {background: #e9e9e9; width: 9px; height: 363px; border-radius: 50px;}
.content::-webkit-scrollbar-thumb {background: #a2a2a2; width: 9px; height: 63px; border-radius: 50px;}
.content::-webkit-scrollbar-track {background: #e9e9e9; width: 9px; height: 300px;}








/* 이전으로 다음으로 */
.backnext { position: absolute; bottom: 17px; right: 48px; float: right;}
.back, .next {  width: 118px; height: 27px; border-radius: 30px; font-size: 19.5px; color: white; cursor:pointer;} 
.back { background: #bfbfbf; margin-right: 12px; line-height: 50%;}
.next { background: #87c395; line-height: 50%;} 